<!DOCTYPE html>
<html lang="en">
  <title>Data Collector</title>
  <head>
    <link href="../static/main.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <h1>Volcano Coordinate Finder</h1>
      <h3>Please upload your .csv file of volcano names.</h3>
      <div class="message">
        {{text | safe}}
      </div>
      <form action="{{url_for ('success')}}" method="POST" enctype="multipart/form-data">
        <input type="file" accept = "csv" name="file" required> <br>
        <button type="submit"> Submit </button>
      </form>
    </div>
  </body>
</html>